* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
}

.heading {
  text-align: center;
  margin: 10px 0;
  color: brown;
  font-size: 30px;
  font-weight: 600;
}

.wrapper {
  padding: 0 100px;
}

.box {
  background-color: aliceblue;
  border-radius: 15px;
  padding: 14px 10px;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin: 10px 20px;
}
.content {
  display: flex;
  gap: 50px;
}
.content-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image {
  width: 260px;
  height:300px;
  object-fit: cover;
  text-align: center;
  border-radius: 15px;
}
.image img{
  height: 100%;
  width: 100%;
}

.content p {
  padding: 0 20px;
  line-height: 1.6;
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin: 0 auto;
  text-align: justify;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 250px;
}

.price {
  width: 100px;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  padding: 6px 14px;
  border-radius: 25px;
  align-items: center;
  display: inline-block;
  margin: 5px;
}
.price:hover {
  transform: scale(1.1);
}

.cart {
  background: #ffd814;
  border: 1px solid #fcd200;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}

.cart:hover {
  background: #f7ca00;
}

.buybtn {
  background-color: #fb641b;
  color: white;
  padding: 12px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

@media (max-width: 820px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 100%;
    height: 600px;
  }
}
