* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
 
}
.heading{
    font-size: 30px;
    font-weight: bold;
text-align: center;
margin: 10px auto;
color: brown;
}

.wrapper {
  width: 100%;
  width: 420px;
  padding: 20px;
 margin: auto;
}

.box {
  background-color: aliceblue;
  border-radius: 18px;
  padding: 18px 16px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.35);
  text-align: center;
  
}

.image {
  width: 100%;
  height: 260px;
  object-fit: contain;
  padding: 10px;
  transition: transform 0.5s ease;
}

.image:hover {
  transform: scale(1.05);
}

/* Title */
.title {
  margin: 15px 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}


.price {
  display: inline-block;
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  padding: 7px 18px;
  border-radius: 25px;
  font-size: 18px;
  margin: 10px 0;
  transition: transform 0.3s ease;
}

.price:hover {
  transform: scale(1.1);
}


.cart {
  background-color: rgb(193, 238, 239);
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  margin: 10px 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.cart:hover {
  background-color: #b2ebec;
}

.buybtn {
  background-color: #fb641b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.buybtn:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
