* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  min-height: 100vh;
   background: linear-gradient(135deg, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
}
.heading{
text-align: center;
margin: 10px 0;
color: brown;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 20px 40px;
}
.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  text-align: center;
  transition: all 0.5s ease;
}
.image:hover {
  transform: translateY(-7px);
}

.title {
  margin: 10px auto;
  align-items: center;
  text-align: center;
 
}
.price{
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  padding: 6px 14px;
  border-radius: 25px;
  align-items:center;
  display: inline-block;
  margin: 5px;
}

.price:hover{
transform: scale(1.1);
}
.box{
    background-color: aliceblue;
    border-radius:15px;
    padding: 14px 10px;
    box-shadow: 2px 5px 8px rgba(0,0,0,0.6);
}
.cart,.buybtn{
    background-color: rgb(193, 238, 239);
    padding:7px 15px;
    border-radius: 7px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}
.buybtn{
    background-color: #fb641b; 
  color: white;
    margin:10px auto;
    padding: 10px;
    width: 100%;
}




@media (max-width:1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media(max-width:800px){
    .wrapper{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .image{
        height:210px;
    }
}
@media (max-width:610px){
     .wrapper{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .image{
        height:250px;
    }

}
